
body {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif; 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #FFFFFF;
    min-width: 320px;
}

h1, h2, h3, p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
}

h1, h2, h3, input, a {
    color: #344050;
    font-weight: 500;
}

h1 {
    font-size: 58px;
    line-height: 68px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

p {
    color: #4B556A;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

a {
    color: #0172AE
}

a:hover {
    color: #045E8E;
    transition-duration: .8s;
}

a.button {
    display: inline-block;
    font-size: 16px;
    background-color: #0172AE;
    border: none;
    color: white;
    padding: 10px 12px 11px 12px;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    transition: .8s background-color;
}

a.button:hover {
    background-color: #045E8E;
    transition-duration: .8s;
}

a.button:focus {
    outline: 6px solid #B4D4F4;
}

a.centeredbutton {
    margin: 0 auto;
}

.sectioncontent {
    width: 980px;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

/*HEADER*/

header {
    background-color: #FFFFFF;
    height: 55px;
}

header img {
    display: block;
    height: 25px;
    margin: 25px auto 0px auto;
}

/*SUPPORTING PEOPLE WHO SUPPORT EACH OTHER*/

#topbanner {
    background-color: #F3F4FA;
    height: 90vh;
    min-height: 600px;
}

#topbanner .sectioncontent {
    top: 55%;
    transform: translateY(-50%);
    width: 700px;
}

#topbanner h2 {
    font-size: 22px;
    line-height: 32px;
    margin: 20px auto 0px auto;
    width: 560px;
}

#heroimage1 {
    position: absolute;
    height: 410px;
    left: -170px;
    top: 22%;
    transform: translateY(-50%);
}

#heroimage2 {
    position: absolute;
    height: 390px;
    right: -145px;
    top: 4%;
    transform: translateY(-50%);
}

#heroimage3 {
    display: none;
}

#mobilebanner {
    display: none;
}

/*FEATURES*/

#features {
    margin-top: 120px;
}

#features h2 {
    margin-bottom: 60px;
}

#features h3 {
    margin-bottom: 24px;
}

.third {
    width: 30%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

#one, #two { 
    margin-right: 4%; 
}

#features img {
    margin-bottom: 46px;
    height: 120px;
}

/*SCREENSHOTS*/


#screens {
    position: relative;
    margin: 120px auto 40px auto;
    width: 100%;
    max-width: 780px;
}

img#desktopframe {
    display: block;
    position: relative;
    top: 0;
    left: -20px;
    margin: 0px auto 0px auto;
    width: 100%;
    max-width: 780px;
    height: inherit;
    -webkit-box-shadow: 6px 8px 5px -1px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px 8px 5px -1px rgba(0,0,0,0.11);
    box-shadow: 6px 8px 5px -1px rgba(0,0,0,0.11);
}

.desktopslide {
    position: absolute;
    bottom: 0;
    left: -20px;
    margin: 0px auto 0px auto;
    width: 100%;
    max-width: 780px;
    height: inherit;
}

img#mobileframe {
    position: absolute;
    top: 110px;
    right: -20px;
    width: 28%;
    max-width: 220px;
    height: inherit;
    z-index: 2;
}

img#mobilebackground {
    position: absolute;
    top: 110px;
    right: -20px;
    width: 28%;
    max-width: 220px;
    height: inherit;
    z-index: 0;
}

.mobileslide {
    position: absolute;
    top: 110px;
    right: -20px;
    width: 28%;
    max-width: 220px;
    height: inherit;
    z-index: 1;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*INTERESTED IN USING CASE KIT?*/

#interested {
    width: 100%;
    max-width: 660px;
    margin-top: 140px;
    margin-bottom: 120px;
}

#interested h2 {
    margin-bottom: 32px;
}

/* SURVEY */

#survey {
    background-color: #F3F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
}

#survey .sectioncontent {
    overflow: auto;
    position: relative;
}

#wewanttohearfromyou {
    width: 45%;
    margin-right: 3%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#survey h2, #survey p, #survey a.button {
    text-align: right;
    float: right;
}

#surveyimgdesktop {
    width: 50%;
    float: right;
}

#surveyimgmobile {
    display: none;
}

/* FOOTER */

footer {
    background-color: #05326C;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer img {
    width: 180px;
    clear: right;
    margin-top: 140px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 40px;
    color: #FFFFFF;
}

/*MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 42px;
        line-height: 48px;
    }

    h2 { 
        font-size: 28px;
        line-height: 36px;
    }

    h3, #topbanner .sectioncontent h2 {
        font-size: 16px;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    #topbanner {
        min-height: 500px;
        max-height: 550px;
    }

    #topbanner .sectioncontent {
        top: 54%;
        width: 550px;
    }

    #topbanner .sectioncontent h2 {
        width: 400px;
    }

    #heroimage1 {
        height: 350px;
        left: -130px;
        top: 20%;
    }

    #heroimage2 {
        height: 320px;
        right: -103px;
        top: 0%;
    }
}

@media only screen and (max-width: 850px) {
    h1 {
        width: 380px;
        font-size: 58px;
        line-height: 66px;
        text-align: left;
    }

    #topbanner {
        max-height: 450px;
    }

    #topbanner h2{
        display: none;
    }

    #topbanner .sectioncontent {
        top: 50%;
        width: 550px;
    }

    #heroimage1, #heroimage2 {
        display: none;
    }

    #heroimage3 {
        display: block;
        position: absolute;
        height: 330px;
        right: 0px;
        top: 45%;
        transform: translateY(-50%);
    }

    #mobilebanner {
        padding: 80px 0px 80px 0px;
        display: block;
        background-color: #05326C;
    }

    #mobilebanner h2 {
        font-size: 21px;
        line-height: 28px;
        width: 80%;
        max-width: 600px;
        min-width: 300px;
        margin: 0 auto;
        color: #FFFFFF;
    }

    #interested {
        width: 70%;
        min-width: 300px;
        margin-bottom: 120px;
    }

    #surveyimgdesktop {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 700px) {
    
    #topbanner .sectioncontent {
        width: 450px;
    }

    h1 {
        width: 380px;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
    }

    #heroimage3 {
        height: 280px;
    }

    .third {
        width: 100%;
        display: block;
        margin: 0px auto;
        max-width: 360px;
    }

    #one, #two { 
        margin: 0px auto 80px auto;
    }

    #features img {
        margin-bottom: 16px;
    }

    #features h3 {
        margin-bottom: 12px;
    }

    #screens {
        margin-top: 60px;
        overflow: scroll;
        height: 400px;
    }

    #screenshots {
        width: 90%;
        max-width: none;
        margin-left: 10%;
        overflow: scroll;
    }

    img#desktopframe {
        left: 210px;
        height: 375px;
        width: auto;
        margin: 0px;
    }

    .desktopslide {
        position: absolute;
        top: 20px;
        left: 210px;
        height: 355px;
        width: auto;
        padding-right: 10%;
    }

    img#mobileframe {
        top: 0px;
        left: 0px;
        height: 380px;
        width: auto;
    }

    img#mobilebackground {
        top: 0px;
        left: 0px;
        height: 380px;
        width: auto;
    }

    .mobileslide {
        top: 0px;
        left: 0px;
        height: 380px;
        width: auto;
    }

    #survey {
        padding-top: 40px;
        padding-bottom: 80px;
        text-align: center;
    }

    #surveyimgdesktop {
        display: none;
     }

     #surveyimgmobile {
        display: block;
        width: 50%;
        min-width: 200px;
        margin: 0 auto;
     }

    #interested {
        margin-top: 70px;
        margin-bottom: 80px;
     }

    #wewanttohearfromyou {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: 0;
        -ms-transform: none;
        transform: none;
    }

    #survey h2, #survey p {
        text-align: center;
        float: none;
    }

    #survey a.button {
        margin: 10px auto 0px auto;
        float: none;
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        width: 185px;
        font-size: 31px;
        line-height: 42px;
    }

    header {
        height: 40px;
    }

    header img {
        display: block;
        height: 20px;
        margin: 20px auto 0px auto;
    }

    #topbanner {
        min-height: 300px;
        max-height: 300px;
    }

    #topbanner .sectioncontent {
        width: 290px;
    }

    #heroimage3 {
        height: 180px;
    }

    #mobilebanner {
        padding: 30px 0px 30px 0px;
    }

    #mobilebanner h2 {
        font-size: 16px;
        line-height: 22px;
    }

    #features {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #heroimage3 {
        height: 155px;
    }

    #screens {
        height: 260px;
    }

    img#desktopframe {
        left: 145px;
        height: 240px;
    }

    .desktopslide {
        left: 145px;
        height: 227px;
        top: 13px;
    }

    img#mobileframe {
        height: 240px;
    }

    img#mobilebackground {
        height: 240px;
    }

    .mobileslide {
        height: 240px;
    }

    footer {
        padding-bottom: 40px;
    }

    footer img {
        width: 140px;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px;
        margin-bottom: 0px;
    }
}
