---
layout: default
---

<div class="page-title dark">
  <div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4">
    <h1>Our principles</h1>
  </div>
  </div>
  </div>
</div>

<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-8 offset-md-4">
      <h2>{{ page.subtitle }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ul class="sidebar-nav">
        <li><a href="/principles/computer-says-yes">Computer Says "Yes"</a></li>
      </ul>
    </div>

    <div class="col-md-8">
      {{ content }}
    </div>
  </div>
</div>
